body{
    font-family: Arial, sans-serif;
    padding: 20px;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a{
    text-decoration: none;
    background-color: lightgray;
    padding: 10px;
}

@media(max-width:600px){
    nav{
        flex-direction: row;
        gap: 30px;
    }
}

h1{
    text-align: center;
}
img{
    width: 20px;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
}

video{
    width: 50vw;
    padding: 15px;
    background-color: violet;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

button{
    border: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    margin: 20px;
    cursor: pointer;
}

button:hover{
    background-color: darkblue;
}
/*
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Mobile */
@media (max-width: 768px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

.box{
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

@media(max-width:768px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
}