body{
    text-align:center;
    font-family:Arial;
    margin-top:50px;
}

button{
    background-color:blue;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background-color:darkblue;
}

#output{
    margin-top:20px;
}

.card{
    border:1px solid black;
    margin:10px auto;
    width:300px;
    padding:10px;
}