body{
    color: green;
    background-color: black;
    font-family: Arial, sans-serif;
}
p{
    font-size: xx-large;
    font-family: 'Times New Roman', Times,serif;
    font-style: italic;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 500px;
}
video{
    width: 500px;
    height: 100px;
    border-radius: 500px;
}
ol{
    list-style-type: lower-alpha;
}
ul{
    list-style-type: none;
}
button{
    background-color: beige;
    padding: 20px;
    margin: 20px;
}
button:hover{
    background-color: green;
}
h1{
    padding:50px;
    border: 3px solid red;
    margin: 30px;
}
nav{

    display: flex;
    flex-direction: row;
    gap: 20px;
}
#p1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times,serif;
    font-style: italic;
}
#p2{
    font-style:normal;
}
.group{
    font-size: xx-large;
}
.grid{ /*div class nane*/
    display: grid;
    grid-template-columns: 33% 33% 33%;
}